body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('2.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the body takes up the full viewport height */
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px; /* Make the container smaller */
    margin: 20px auto; /* Center horizontally and add some margin at the top */
    position: relative;
    top: 20px; /* Position it a bit down from the top */
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

.weather-info {
    margin-top: 20px;
}

.weather-info p {
    margin: 5px 0;
}
